.moviesContainer {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
}
.moviesHeading {
  width: 100%;
  padding: 20px 40px 10px 25px;
  display: flex;
  justify-content: space-between;
}
.moviesHeading h3 {
  font-family: Single Day;
  font-size: 43px;
  font-weight: 400;
  color: #72db73;
}
.moviesHeading img {
  width: 60px;
  cursor: pointer;
}

.moviesContainer p {
  padding: 10px 40px 20px 55px;
  font-family: Roboto;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.movies {
  width: 96%;
  height: 73%;
  overflow: auto;
  margin-bottom: 20px;
  padding-left: 26px;
}
.movies::-webkit-scrollbar {
  width: 10px;
}
.movies::-webkit-scrollbar-thumb {
  background-color: #878787;
  border-radius: 5px;
}
.movies::-webkit-scrollbar-track {
  background-color: #000;
}
.moviesTitles{
  color: #878787; 
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.moviesImages{
  display: flex;
  gap: 20px;
}
.moviesImages img{ 
  border: 1px solid #000;
  height: 170px;
  width: 280px;
  border-radius: 20px;
}

