.newscontainer {
  background: #ffffff;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 29vw;
  height: 100%;
  border-radius: 19px;
}
.news {
  position: relative;
}
.news img {
  width: 100%;
  height: 60vh;
  border-top-right-radius: 19px;
  border-top-left-radius: 19px;
}
.newsinfo {
  width: 100%;
  height: 84px;
  background: #000000bd;
  opacity: 0.7;
  padding: 10px 20px;
  position: absolute;
  top: 300px;
  color: white;
  background: #000;
}
.newstitle {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsdate {
  font-family: "Roboto";
  font-size: 14px;
}
.newsdescription {
  margin: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 160px;
}
.newsdescription p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 25px;
  color: #272727;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .newscontainer {
    grid-row-start: 1;
    grid-row-end: 4;
    width: 35vw;
  }
  .news img {
    height: 45vh;
  }
  .newsinfo {
    width: 100%;
    height: 75px;
    padding: 10px 20px;
    top: 242px;
  }
  .newstitle {
    font-size: 25px;
  }
  .newsdate {
    font-size: 12px;
  }
  .newsdescription {
    max-height: 200px;
  }
  .newsdescription p {
    font-size: 14px;
  }
}


/* Media query for screens smaller than 400px */
@media screen and (max-width: 400px) {
  .newscontainer {
    width: 90vw;
    height: 500px;
  }

}
