.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.left {
  width: 50%;
  position: relative;
}
.left img {
  width: 100%;
  height: 100vh;
}
.left p {
  width: 80%;
  position: absolute;
  top: 420px;
  left: 53px;
  font-family: Roboto;
  line-height: 60px;
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #fff;
}
.right {
  width: 50%;
  height: 100vh;
  background: #000;
}
.right h2 {
  color: #72db73;
  font-size: 58px;
  font-family: Single Day;
  text-align: center;
}
.right .smh {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
}
.form {
  margin: 15px auto 0;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.form input {
  width: 100%;
  height: 40px;
  background: #292929;
  outline: none;
  border: none;
  padding: 0 12px;
  color: #7c7c7c;
  font-family: Roboto;
  border-radius: 3.5px;
}
.form label {
  display: flex;
}
.form label input {
  width: 15px;
  height: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}
.form label span {
  padding: 0 13px;
  font-family: roboto;
  font-size: 15px;
  letter-spacing: 0.7px;
  color: #7c7c7c;
}
.form button {
  margin-bottom: 10px;
  padding: 8px 0;
  border-radius: 28px;
  font-family: roboto;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background: #72db73;
  border: none;
  cursor: pointer;
}
.right p {
  width: 380px;
  margin: 0px auto 0;
  font-family: Roboto;
  font-size: 14px;
  color: #7c7c7c;
  line-height: 22px;
}
.right p span {
  font-family: Roboto;
  color: #72db73;
  cursor: pointer;
}
.error {
  font-family: Roboto;
  color: #ff0000;
  text-align: left;
  font-size: 14px;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .left {
    width: 0%;
  }
  .left img {
    visibility: hidden;
  }
  .left p {
    visibility: hidden;
  }
  .right {
    width: 100%;
    overflow: hidden;
  }
  .right h2 {
    color: #72db73;
    font-size: 62px;
    font-family: Single Day;
    text-align: center;
    margin-top: 25px;
  }
}

/* Media query for screens smaller than 400px */
@media screen and (max-width: 400px) {
  .form {
    width: 300px;
  }
  .right p {
    width: 300px;
  }
}
